<div>
  <h2>Form Storage Section</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="name">Name: </label>
    <input #nameInput type="text" name="name" />
    <label for="surname">Surname: </label>
    <input #surnameInput type="text" name="surname" />
    <label for="email">e-mail: </label>
    <input #emailInput type="email" name="email" />
    <label for="password">Password: </label>
    <input #passwordInput type="password" name="password" />
    <button type="submit">Submit</button>
  </form>
  <div>
    <div *ngFor="let object of array; let i = index">
      <p>Name: {{ object.name }}</p>
      <p>Surname: {{ object.surname }}</p>
      <p>e-mail: {{ object.email }}</p>
      <p>Password: {{ object.password }}</p>
      <button (click)="onRemove(i)">Remove</button>
    </div>
  </div>
</div>
